<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Practice9</display-name>

  <welcome-file-list>
    <welcome-file>IndexView</welcome-file>
  </welcome-file-list>
 
  <filter>
      <filter-name>EncodingFilter</filter-name>
      <filter-class>ua.nure.your_last_name.Practice9.web.filter.EncodingFilter</filter-class>
      <init-param>
          <param-name>encoding</param-name>
          <param-value>UTF-8</param-value>
      </init-param>
  </filter>

  <filter>
      <filter-name>SecurityFilter</filter-name>
      <filter-class>ua.nure.your_last_name.Practice9.web.filter.SecurityFilter</filter-class>
  </filter>
  
  <filter-mapping>
      <filter-name>EncodingFilter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter-mapping>
      <filter-name>SecurityFilter</filter-name>
      <url-pattern>/*</url-pattern>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  
  <error-page>
      <error-code>405</error-code>
      <location>/ErrorPage</location>      
  </error-page>
   
</web-app>